//home
figure {
    position: fixed;
    overflow: hidden;
    left: 0;
    .inner-home {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: 18vh;
            line-height: 20vh;
            &:hover {
                opacity: 0;
            }
        }
    }
}
